<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PayrollDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PayrollSystemDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="Payroll System" />
    <add key="Version" value="1.0.0" />
  </appSettings>
</configuration>
